@model IEnumerable<App.Domain.SessionConfigChip>

@{
    ViewData["Title"] = "Layout chips";
}

<h1>Layout chips</h1>

<p>
    <a asp-action="Create">Add chip to layout</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Layout
            </th>
            <th>
                Chip
            </th>
            <th>
                Device ID
            </th>
            <th>
                Role
            </th>
            <th>
                X
            </th>
            <th>
                Y
            </th>
            <th>
                Z
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionConfig.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chip.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chip.DeviceIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XCoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YCoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZCoord)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
